.ico-plus {
  display: inline-block;
  min-width: 16px;
  height: 16px;
  background: url(../images/plus.png) no-repeat 50% 50%;
}
.ico-recipe {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  background: url(../images/snb-recipe.png) no-repeat 50% 50%;
}
.ico-recipe-active {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  background: url(../images/snb-recipe-active.png) no-repeat 50% 50%;
}
.ico-cultivate {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  background: url(../images/snb-cultivate.png) no-repeat 50% 50%;
}
.ico-cultivate-active {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  background: url(../images/snb-cultivate-active.png) no-repeat 50% 50%;
}
.ico-area {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  background: url(../images/snb-area.png) no-repeat 50% 50%;
}
.ico-area-active {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  background: url(../images/snb-area-active.png) no-repeat 50% 50%;
}
.ico-user {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  background: url(../images/user.png) no-repeat 50% 50%;
}
.ico-plus-16 {
  display: inline-block;
  min-width: 16px;
  height: 16px;
  background: url(../images/plus-16.png) no-repeat 50% 50%;
}
.ico-download-16 {
  display: inline-block;
  min-width: 16px;
  height: 16px;
  background: url(../images/download-16.png) no-repeat 50% 50%;
}
.ico-confirm-16 {
  display: inline-block;
  min-width: 16px;
  height: 16px;
  background: url(../images/confirm-16.png) no-repeat 50% 50%;
}
